﻿@model PinPaymentsSln.share.Models.PostCharge
@{
    ViewData["Title"] = "Charges";
}

<h3>Customer Charge</h3>

@*<div class="card p-3 w-50">*@
    @*<h5 class="mb-3">You’re using test mode. Credit cards will not be charged.</h5>*@
    <div class="row">
        <div class="col-md-5">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Amount" class="control-label"></label>
                            <input asp-for="Amount" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Customer</label>
                            <div class="card-deck">
                                <div class="card p-2">
                                    <div class="row mb-1">
                                        <div class="col-md-3"><label>Email</label></div>
                                        <div class="col-md-9">@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"><label>Token</label></div>
                                        <div class="col-md-9">@Html.EditorFor(model => model.CustomerToken, new { htmlAttributes = new { @class = "form-control" } })</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Card</label>
                            <div class="row">
                                @*<div class="col-md-3"><label>Card</label></div>*@
                                <div class="col-md-12">@Html.EditorFor(model => model.Card.DisplayNumber, new { htmlAttributes = new { @class = "form-control" } })</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button asp-controller="Customer" asp-action="CustomerCharge" type="submit" class="btn btn-success">Charge Customer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
@*</div>*@
