﻿@model IEnumerable<PinPaymentsSln.share.Models.Plan>
@{
    ViewData["Title"] = "CustomerSubscription";
}

<h3 class="mb-3">Customer Subscription</h3>

<div @*style="background-color: #FAFAFA"*@>

    @*<div class="row">

            @foreach (var item in Model)
            {
                <div class="col-md-3 card p-3">
                    <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                    <p>For small teams trying out Slack for an unlimited period of time</p>
                    <h4>@Html.DisplayFor(modelItem => item.Amount)</h4>

                    <a class="btn btn-info" asp-controller="Customer" asp-action="Subscription" asp-route-plan="@item.Token" asp-route-id="@ViewBag.CustomerToken" style="color: #ffffff;">Subscribe</a>
                </div>

            }
        </div>*@
    <div class="row">
        <div class="col-md-12">
            <div class="card-deck">
                @foreach (var item in Model)
                {
                    <div class="card bg-dark text-white">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                            <p class="card-text">For small teams trying out Slack for an unlimited period of time</p>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Amount)</p>
                            <a class="btn btn-info d-block" asp-controller="Customer" asp-action="Subscription" asp-route-plan="@item.Token" asp-route-id="@ViewBag.CustomerToken" style="color: #ffffff;">Subscribe</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

