﻿@model PinPaymentsSln.share.Models.Customer

@{
    ViewData["Title"] = "Details";
}


<div>
    <h3>Customer Details</h3>
    <p class="mt-1 mb-2">
        <a class="btn btn-success" asp-action="Create"><i class="oi oi-plus" style="font-size: 80%;"></i> Add New Customer</a>
    </p>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <table class='table'>
                    <thead>
                        <tr style="background-color: #05163d; color: #fff;">
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Email)</th>
                            <th>Address</th>
                            <th>@Html.DisplayNameFor(model => model.Country)</th>
                            <th>@Html.DisplayNameFor(model => model.Token)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(model => model.Name)</td>
                            <td>@Html.DisplayFor(model => model.Email)</td>
                            <td>@Html.DisplayFor(model => model.Address1)</td>
                            <td>@Html.DisplayFor(model => model.Country)</td>
                            <td>@Html.DisplayFor(model => model.Token)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card mt-2 p-3">
        <h5> Card Details </h5>
        <div class="row">
            <div class="col-md-2">
                Card Number:
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.DisplayNumber)
            </div>
            <div class="col-md-2">
                Card Name:
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Name)
            </div>
            <div class="col-md-2">
                Card Expiry Date:
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ExpiryMonth) &frasl; @Html.DisplayFor(model => model.ExpiryYear)
            </div>
        </div>
    </div>


    <div class="card mt-2 p-3">
        <div class="row">
            <div class="col-md-6 mb-2">
                <h5>Subscriptions</h5>
            </div>

            <div class="col-md-6 mb-2 text-right">
                <a class="btn btn-info" asp-action="CustomerSubscription" asp-route-id="@Model.Token" style="color: #ffffff;">Add Subscription</a>
            </div>
        </div>


        @foreach (var item in Model.Subscriptions.Response)
        {
            <div class="card m-1 p-3">
                <div class="row">
                    <div class="col-md-5">
                        <p class="m-0 pb-1">@Html.DisplayFor(modelItem => item.Plan.Response.Name) - @Html.DisplayFor(modelItem => item.State)</p>
                        <p class="m-0 pb-1">@Html.DisplayFor(modelItem => item.Token)</p>
                        @*<p class="m-0 pb-1">@Html.DisplayFor(modelItem => item.Card_token)</p>*@
                    </div>

                    <div class="col-md-5">
                        <p class="m-0 pb-1"><label class="mr-1">Subscribed:</label>@Html.DisplayFor(modelItem => item.Active_interval_started_at)</p>
                        <p class="m-0 pb-1"><label class="mr-1">Next Charge:</label>@Html.DisplayFor(modelItem => item.Active_interval_finishes_at)</p>
                    </div>

                    <div class="col-md-2 text-right">
                        <a class="btn btn-warning" asp-controller="Subscription" asp-action="Details" asp-route-id="@item.Token" style="color: #ffffff;"><i class="oi oi-pencil" style="font-size: 80%; color: #ffffff;"></i> Details</a>
                    </div>
                </div>
            </div>
        }

    </div>
    @{bool isPlusSubscriber = false;}

    @foreach (var item in Model.Subscriptions.Response)
    {
        @if (item.Plan.Response.Name == "Plus")
        {
            isPlusSubscriber = true;
        }
    }
    @if (isPlusSubscriber)
    {
        <div class="card mt-2 p-3">
            <div class="row">
                <div class="col-md-6 mb-2">
                    <h5>Charges</h5>
                </div>

                <div class="col-md-6 mb-2 text-right">
                    <a class="btn btn-info" asp-action="Charges" asp-route-id="@Model.Token" style="color: #ffffff;">New Charge</a>
                </div>


            </div>

            <div class="row mt-1">
                <div class="col-md-12">
                    <div class="card">
                        <table class='table'>
                            <thead>
                                <tr style="background-color: #05163d; color: #fff;">
                                    <th>@Html.DisplayNameFor(model => model.Charges.Response[0].Amount)</th>
                                    <th>@Html.DisplayNameFor(model => model.Charges.Response[1].Description)</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Card.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Card.DisplayNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Charges.Response[1].Status)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Charges.Response[1].Created)
                                    </th>
                                    @*<th></th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var items in Model.Charges.Response)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => items.Amount)</td>
                                        <td>@Html.DisplayFor(modelItem => items.Description)</td>
                                        <td>@Html.DisplayFor(modelItem => items.Card.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => items.Card.DisplayNumber)</td>
                                        <td>@Html.DisplayFor(modelItem => items.Status)</td>
                                        <td> @Html.DisplayFor(modelItem => items.Created)</td>
                                        @*<td>
                                                <a class="btn btn-warning" asp-action="Details" asp-route-id="@items.Token" style="color: #ffffff;"><i class="oi oi-pencil" style="font-size: 80%; color: #ffffff;"></i> Details</a>
                                            </td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    }
</div>
<div>
    <a class="btn btn-primary mt-3" asp-action="Index">Back to List</a>
</div>
