﻿@model PinPaymentsSln.share.Models.Subscription
@{
    ViewData["Title"] = "Subscription";
}

<h3>Details</h3>

<div class="row">
    <div class="col-md-12">
        <div class="card mb-2 p-3" style="background-color: #FAFAFA">
            <h4 class="mb-3 text-center text-uppercase"> @Html.DisplayFor(model => model.Plan.Response.Name) Subscription</h4>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card mb-2 p-3">
            <h5 class="mb-3"> Subscription Details </h5>
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Token)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Token)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.State)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.State)
                </dd>

                <dt class="col-sm-4">
                    @*@Html.DisplayNameFor(model => model.Active_interval_started_at)*@
                    Created
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Active_interval_started_at)
                </dd>

                <dt class="col-sm-4">
                    @*@Html.DisplayNameFor(model => model.Active_interval_started_at)*@
                    Current Period
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Active_interval_started_at) -
                    @Html.DisplayFor(model => model.Active_interval_finishes_at)
                </dd>

                <dt class="col-sm-4">
                    @*@Html.DisplayNameFor(model => model.Active_interval_finishes_at)*@
                    Next Charge
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Active_interval_finishes_at)
                </dd>
            </dl>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="card mb-2 p-3">
            <h5 class="mb-3"> Plan Details </h5>
            <dl class="row">
                <dt class="col-sm-4">
                    @*@Html.DisplayNameFor(model => model.Plan.Response.Name)*@
                    Plan
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Plan.Response.Name)
                </dd>

                <dt class="col-sm-4">
                    @*@Html.DisplayNameFor(model => model.Plan.Response.Amount)*@
                    Fee
                </dt>
                <dd class="col-sm-8">
                    $@Html.DisplayFor(model => model.Plan.Response.Amount)
                    @Html.DisplayFor(model => model.Plan.Response.Currency) every
                    @Html.DisplayFor(model => model.Plan.Response.Interval)
                    @Html.DisplayFor(model => model.Plan.Response.Interval_unit)

                </dd>
            </dl>
        </div>
    </div>



    <div class="col-md-6">
        <div class="card mb-2 p-3">
            <h5 class="mb-3"> Customer Details </h5>
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Customer.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Customer.Name)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Customer.Email)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Customer.Email)
                </dd>
            </dl>
        </div>
    </div>
</div>










<div class="card mb-2 p-3">
    <h5 class="mb-3"> Billing History </h5>
    <div class="card">
        <table class="table">
            <thead>
                <tr style="background-color: #05163d; color: #fff;">
                    <th>
                        @*@Html.DisplayNameFor(model => model.SubscriptionLedger.Response[0].Created_at)*@
                        Date
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.SubscriptionLedger.Response[0].Annotation)*@
                        Event
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.SubscriptionLedger.Response[0].Type)*@
                        Debit
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.SubscriptionLedger.Response[0].Amount)*@
                        Credit
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.SubscriptionLedger.Response[0].Created_at)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.SubscriptionLedger.Response[0].Annotation)
                    </td>
                    <td>
                        $@Html.DisplayFor(model => model.SubscriptionLedger.Response[0].Amount)
                        @Html.DisplayFor(model => model.SubscriptionLedger.Response[0].Currency)
                    </td>
                    <td>
                        @*@Html.DisplayFor(model => model.SubscriptionLedger.Response[0].Amount)*@
                    </td>
                </tr>
            </tbody>

            @*@foreach (var item in Model.SubscriptionLedger.Response)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created_at)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Annotation)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.Amount)
                            @Html.DisplayFor(modelItem => item.Currency)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Amount)
                        </td>
                    </tr>
                </tbody>
            }*@
        </table>
    </div>
</div>