﻿@model PinPaymentsSln.share.Models.Charge

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h5>Charge</h5>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Success)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Success)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IP_address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IP_address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErrorMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErrorMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Card_Token)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Card_Token)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer_Token)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer_Token)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount_refunded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount_refunded)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total_fees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total_fees)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Merchant_entitlement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Merchant_entitlement)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Refund_pending)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Refund_pending)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Authorisation_expired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Authorisation_expired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Captured)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Captured)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Captured_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Captured_at)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Settlement_currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Settlement_currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active_chargebacks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active_chargebacks)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Token" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
