﻿@model PinPaymentsSln.share.Models.Charge

@{
    ViewData["Title"] = "Details";
}

<div>
    <h3>Transaction Details</h3>
    <p class="mt-1 mb-2">
        <a class="btn btn-success" asp-action="Create"><i class="oi oi-plus" style="font-size: 80%;"></i> Add New Transaction</a>
    </p>
    <div class="card mb-2">
        <table class="table">
            <thead>
                <tr style="background-color: #05163d; color: #fff;">
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Card.DisplayNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Card.ExpiryMonth)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Card.ExpiryYear)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Card.Country)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Card.DisplayNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Card.ExpiryMonth)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Card.ExpiryYear)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Card.Country)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="card mb-2 p-3" style="background-color: #FAFAFA">
                <h5 class="mb-3"> Payment Details </h5>
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Created.Date)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Created)
                    </dd>

                    <dt class="col-sm-4">
                        @*@Html.DisplayNameFor(model => model.Created.Date)*@
                        Time:
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Created.Date)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Token)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Token)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Status)
                    </dd>

                    <dt class="col-sm-4">
                        @*@Html.DisplayNameFor(model => model.Token)*@
                        Fees:
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Amount)
                    </dd>

                    <dt class="col-sm-4">
                        @*@Html.DisplayNameFor(model => model.Status)*@
                        Nett:
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Amount)
                    </dd>
                </dl>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card mb-2 p-3" style="background-color: #FAFAFA">
                <h5 class="mb-3"> Card Details </h5>
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Card.Name)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Card.Name)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-4">
                        @*@Html.DisplayNameFor(model => model.Card.Address1)*@
                        Address
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Card.Address1)
                    </dd>
                </dl>
            </div>
        </div>
    </div>


</div>
<div>
    <a class="btn btn-primary" asp-action="Index"><i class="oi oi-arrow-left"></i> Back to List</a>
</div>
