﻿@model PinPaymentsSln.share.Models.Charge

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h3>Charge</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Token" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Success" /> @Html.DisplayNameFor(model => model.Success)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Currency" class="control-label"></label>
                <input asp-for="Currency" class="form-control" />
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IP_address" class="control-label"></label>
                <input asp-for="IP_address" class="form-control" />
                <span asp-validation-for="IP_address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ErrorMessage" class="control-label"></label>
                <input asp-for="ErrorMessage" class="form-control" />
                <span asp-validation-for="ErrorMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card_Token" class="control-label"></label>
                <input asp-for="Card_Token" class="form-control" />
                <span asp-validation-for="Card_Token" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer_Token" class="control-label"></label>
                <input asp-for="Customer_Token" class="form-control" />
                <span asp-validation-for="Customer_Token" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount_refunded" class="control-label"></label>
                <input asp-for="Amount_refunded" class="form-control" />
                <span asp-validation-for="Amount_refunded" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Total_fees" class="control-label"></label>
                <input asp-for="Total_fees" class="form-control" />
                <span asp-validation-for="Total_fees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Merchant_entitlement" class="control-label"></label>
                <input asp-for="Merchant_entitlement" class="form-control" />
                <span asp-validation-for="Merchant_entitlement" class="text-danger"></span>
            </div>*@
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Refund_pending" /> @Html.DisplayNameFor(model => model.Refund_pending)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Authorisation_expired" /> @Html.DisplayNameFor(model => model.Authorisation_expired)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Captured" /> @Html.DisplayNameFor(model => model.Captured)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Captured_at" class="control-label"></label>
                <input asp-for="Captured_at" class="form-control" />
                <span asp-validation-for="Captured_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Settlement_currency" class="control-label"></label>
                <input asp-for="Settlement_currency" class="form-control" />
                <span asp-validation-for="Settlement_currency" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active_chargebacks" /> @Html.DisplayNameFor(model => model.Active_chargebacks)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
