﻿@model IEnumerable<PinPaymentsSln.share.Models.Charge>

@{
    ViewData["Title"] = "Index";
}

<h3>Transaction List</h3>

<p>
    <a class="btn btn-success" asp-action="Create"><i class="oi oi-plus"></i> Add New Transaction</a>
</p>
<table class="table">
    <thead>
        <tr style="background-color: #05163d; color: #fff;">
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Card.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Card.DisplayNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Card.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Card.DisplayNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Token" style="color: #ffffff;"><i class="oi oi-pencil"></i> Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
