﻿@model PinPaymentsSln.share.Models.Plan

@{
    ViewData["Title"] = "Create";
}


<div class="row">
    <div class="col-md-12">
        <h3 class="mb-3">Add New Plan</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Currency" class="control-label"></label>
                        <input asp-for="Currency" class="form-control" />
                        <span asp-validation-for="Currency" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Interval" class="control-label"></label>
                        <input asp-for="Interval" class="form-control" />
                        <span asp-validation-for="Interval" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Interval_unit" class="control-label"></label>
                        <input asp-for="Interval_unit" class="form-control" />
                        <span asp-validation-for="Interval_unit" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Intervals" class="control-label"></label>
                        <input asp-for="Intervals" class="form-control" />
                        <span asp-validation-for="Intervals" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Setup_amount" class="control-label"></label>
                        <input asp-for="Setup_amount" class="form-control" />
                        <span asp-validation-for="Setup_amount" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Trial_amount" class="control-label"></label>
                        <input asp-for="Trial_amount" class="form-control" />
                        <span asp-validation-for="Trial_amount" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Trial_interval" class="control-label"></label>
                        <input asp-for="Trial_interval" class="form-control" />
                        <span asp-validation-for="Trial_interval" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Trial_interval_unit" class="control-label"></label>
                        <input asp-for="Trial_interval_unit" class="form-control" />
                        <span asp-validation-for="Trial_interval_unit" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success">Add Plan</button>
                </div>
            </div>
            @*<div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>*@
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary mt-3" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
