﻿@model PinPaymentsSln.share.Models.Plan

@{
    ViewData["Title"] = "Details";
}


<div>
    <h3>Plan Details</h3>
    <p class="mt-1 mb-2">
        <a class="btn btn-success" asp-action="Create"><i class="oi oi-plus" style="font-size: 80%;"></i> Add New Plan</a>
    </p>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-2 p-3" style="background-color: #FAFAFA">
                    <h5 class="text-center text-uppercase">@Html.DisplayFor(model => model.Name)</h5>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="card mb-2 p-3" style="background-color: #FAFAFA">
                <h5 class="mb-3"> Pricing Details </h5>
                <dl class="row">
                    <dt class="col-sm-4">
                        @*@Html.DisplayNameFor(model => model.Amount)*@
                        Plan Fee
                    </dt>
                    <dd class="col-sm-8">
                        $@Html.DisplayFor(model => model.Amount)
                        @Html.DisplayFor(model => model.Currency) every
                        @Html.DisplayFor(model => model.Interval)
                        @Html.DisplayFor(model => model.Interval_unit)


                    </dd>
                    <dt class="col-sm-4">
                        @*@Html.DisplayNameFor(model => model.Setup_amount)*@
                        Setup Fee
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Setup_amount)
                    </dd>
                    <dt class="col-sm-4">
                        @*@Html.DisplayNameFor(model => model.Trial_interval)*@
                        Trial Fee
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Setup_amount) for
                        @Html.DisplayFor(model => model.Trial_interval)
                        @Html.DisplayFor(model => model.Trial_interval_unit)
                    </dd>
                </dl>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card mb-2 p-3" style="background-color: #FAFAFA">
                <h5 class="mb-3"> Plan Details </h5>
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Created)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Created)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Token)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Token)
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-2 p-3" style="background-color: #FAFAFA">
                <h5 class="mb-3"> Subscriptions </h5>
                <div class="card">
                    <table class='table'>
                        <thead>
                            <tr style="background-color: #05163d; color: #fff;">
                                <th>Email</th>
                                <th>Token</th>
                                <th>State</th>
                                <th>Next Charge</th>
                                <th></th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.Subscriptions.Response)
                        {
                            <tbody>
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Customer.Email)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Token)</td>
                                    <td>@Html.DisplayFor(modelItem => item.State)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Active_interval_finishes_at)</td>
                                    <td>
                                        <a class="btn btn-warning" asp-controller="Subscription" asp-action="Details" asp-route-id="@item.Token" style="color: #ffffff;">Details</a>
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>



    
</div>
<div>
    <a class="btn btn-primary mt-3" asp-action="Index">Back to List</a>
</div>
