﻿@model IEnumerable<PinPaymentsSln.share.Models.Plan>

@{
    ViewData["Title"] = "Index";
}

    <h3>Plan List</h3>

<p class="mt-1 mb-2">
    <a class="btn btn-success" asp-action="Create"><i class="oi oi-plus" style="font-size: 80%;"></i> Add New Plan</a>
</p>
<table class='table'>
    <thead>
        <tr style="background-color: #05163d; color: #fff;">
            <th>@Html.DisplayNameFor(model => model.Token)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Amount)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Token)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                <td>
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Token" style="color: #ffffff;"><i class="oi oi-pencil" style="font-size: 80%; color: #ffffff;"></i> Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
